* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* p {
    color: red;
    line-height: 31px;
    text-align: center;
    margin-bottom: 25px;
}


a{
    text-decoration:none;
    color: red;
}
img{
    width: 100%;
} */
ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li:not(:last-child) {
    margin-right: 30px;
}

li {
    padding: 25px 0px;
}

a {
    text-decoration: none;
    color: red;
}

img {
    width: 100%;
    margin-bottom: 50px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;

    color: #373737;
}
.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 30px;
    color: #373737;
}
button{
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    margin-top: 66px;
    background: #FF0000;
    border-radius: 4px;
    margin: auto;
    display: block;
    cursor: pointer;
}
.footer{
padding-right: 100px;
padding-bottom: 30px;
margin-top: 40px;
float: right;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;
}